@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

p.caption {
  color: #777;
  margin-top: 10px;
}

p, code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre, code {
  white-space: inherit;
}

p, div {
  font-family: 'Raleway';
}

a {
  font-family: 'Raleway';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Slab', serif;
  color: #4C1476 !important;
}

.summary {
  background-color: white;
}

a {
  color: #FF7666 !important;
}

div.note {
    padding: 1em;
    margin: 2em 0;
    padding-left: 100px;
    background-size: 70px;
    background-image: url("img/lightbulb.svg");
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    border: dashed 5px #FAEDB6;
}
