@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

p.caption {
  color: #777;
  margin-top: 10px;
}

p, code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre, code {
  white-space: inherit;
}

p, div {
  font-family: 'Raleway';
}

a {
  font-family: 'Raleway';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway';
}

.summary {
  background-color: white;
}
